.card-component-wrapper {
  border-radius: 0.625rem;
  border: 0.125rem solid var(--lightgray-color);
  background-color: #222;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  font-size: var(--font-size-S);
  line-height: 1.5;
  max-width: 1440px;
  margin: 0 auto;
}

.card-component-wrapper .card-header-section {
  padding: 0.625rem;
  width: 100%;
  background-color: var(--deepgray-color);
}

.card-header-section .match-type-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  /* margin: 0; */
}

.card-header-section .match-type-list .match-type-item {
  list-style: none;
}

.card-header-section .match-type-list .match-type-item .btn-match-type {
  font-size: var(--font-size-XS);
  color: #666;
  transition:
    color 0.2s ease,
    font-weight 0.2s ease;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-header-section .match-type-list .match-type-item .active {
  color: #eaeaea;
  font-weight: 700;
}

.card-body-section {
  padding: 0.625rem;
  width: 100%;
}

.card-body-section .match-history-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  min-height: 25rem;
}

.card-body-section .match-history-list .match-history-item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style: none;
}

.card-body-section .match-history-list .match-history-item .match-preview-section {
  display: flex;
  border-radius: 0.625rem;
  height: 6.25rem;
  background-color: var(--deepgray-color);
  overflow: hidden;
}

.match-preview-section .match-result-box {
  width: 1.25rem;
}

.match-preview-section > .lose {
  background-color: #ff4d4f;
}

.match-preview-section > .win {
  background-color: #3a96ff;
}

.match-preview-section > .draw {
  background-color: #b03aff;
}

.match-preview-section .match-padding-section {
  display: flex;
  padding: 0.625rem 0;
  flex: 1;
}

.match-padding-section .match-type-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.625rem;
  flex: 0.8;
  max-width: 8.75rem;

  .win {
    color: #3a96ff;
  }

  .lose {
    color: #ff4d4f;
  }

  .draw {
    color: #b03aff;
  }
}

.match-type-box .match-result-text {
  font-size: 0.93rem;
}

.match-type-box .match-result-text .win {
  color: #3a96ff;
}

.match-type-box .match-result-text .lose {
  color: #ff4d4f;
}

.match-type-box .match-result-text .draw {
  color: #b03aff;
}

.match-type-box .match-type-text {
  font-size: 0.93rem;
  color: #eaeaea;
}

.match-type-box .match-result-text {
  font-size: var(--font-size-XS);
  color: #eaeaea;
}

.match-preview-section .match-date-text {
  font-size: var(--font-size-XXS);
  color: #aaa;
}

.match-padding-section .match-map-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.625rem;
  border-left: 0.0625rem solid #666;
  flex: 0.9;
  max-width: 12.5rem;
}

.match-map-box .match-map-text {
  font-size: 0.93rem;
  color: #eaeaea;
}

.match-padding-section .match-stats-section {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  border-left: 0.0625rem solid #666;
  flex: 1;
}

.match-stats-section .match-stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.625rem;
  flex: 1;
  max-width: 7.5rem;
}

.match-stats-box .match-stats-label-text {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: 0.8rem;
  color: #aaa;
}

.match-stats-label-text .icon-stat {
  width: 1rem;
  height: 1rem;
}

.match-stats-box .match-stats-text {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  color: #eaeaea;
}

.match-stats-value {
  font-size: 0.93rem;
}

.match-stats-box .match-stats-text .rate-orange {
  color: #f15e36;
}

.match-padding-section .btn-match-detail {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.0625rem solid #666;
  width: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #eaeaea;
}

.match-padding-section .btn-match-detail.active svg {
  transform: rotate(180deg);
}

.user-match-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2.5rem;
}

.user-match-detail-wrapper .match-header-section {
  display: flex;
  align-items: flex-end;
  gap: 0.625rem;
}

.match-team-header-section {
  .win {
    color: #3a96ff;
  }

  .lose {
    color: #ff4d4f;
  }

  .draw {
    color: #b03aff;
  }
}

.match-team-header-section .match-header-text {
  font-size: var(--font-size-XS);
  color: white;
  padding-left: 0.375rem;
  font-weight: 700;
}

.match-header-section .match-type-text {
  font-size: 0.75rem;
  color: #eaeaea;
}

.match-header-section .match-date-text {
  margin-left: auto;
  font-size: 0.75rem;
  color: #aaa;
}

.btn-mode-change {
  padding: 0.25rem 0.625rem;
  border-radius: 0.25rem;
  font-size: var(--font-size-XXS);
  color: #eaeaea;
  background-color: #f15e36;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.match-detail-section {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  box-sizing: border-box;
}

.match-detail-section .win {
  border: 0.125rem solid #3a96ff;
}

.match-detail-section .lose {
  border: 0.125rem solid #ff4d4f;
}

.match-detail-section .draw {
  border: 0.125rem solid #b03aff;
}

.match-detail-section .match-team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  flex: 1;
  overflow: hidden;
}

.match-team-section .match-team-header-section .win {
  background-color: #3a96ff;
}

.match-team-section .match-team-header-section .lose {
  background-color: #ff4d4f;
}

.match-team-section .match-team-header-section .draw {
  background-color: #b03aff33;
}

.match-team-section .match-team-body-section {
  display: flex;
  flex-direction: column;
}

.match-team-body-section .match-team-label-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr 1.2fr;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
}

.match-team-label-list .match-team-label-item {
  padding: 0.5rem 0.625rem;
  border-bottom: 0.0625rem solid #333;
}

.match-team-label-list .match-team-label-item p {
  margin: 0;
}

.match-team-label-item .match-team-label-text {
  font-size: var(--font-size-XXS);
  color: #aaa;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
}

.match-team-label-item:first-child .match-team-label-text {
  text-align: left;
}

.match-team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-team-list .match-team-item {
  border-bottom: 0.0625rem solid #333;
}

.match-team-list .match-team-item:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.match-team-list .match-team-item.current-user {
  background-color: #181818;
}

.match-team-list .btn-search-player {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr 1.2fr;
  align-items: center;
  padding: 0.5rem 0.625rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.btn-search-player .match-team-text {
  font-size: 0.93rem;
  color: #eaeaea;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.btn-search-player .match-team-text:first-child {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}

.match-team-item .img-grade {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-right: 0.375rem;
  vertical-align: middle;
}

.btn-more-match-history {
  display: flex;
  justify-self: center;
  align-self: center;
  color: #eaeaea;
  margin: 10px;
}

.btn-more-match-history:hover {
  filter: opacity(0.7);
}

@media (max-width: 479px) {
  .match-team-body-section .match-team-label-list {
    grid-template-columns: 2fr 1fr 1.5fr;
  }

  .match-team-list .btn-search-player {
    grid-template-columns: 2fr 1fr 1.5fr;
  }

  .match-padding-section .match-stats-section {
    grid-template-columns: 2fr 1fr 1.5fr;
  }

  .match-team-label-list .match-team-label-item:nth-child(4),
  .match-team-label-list .match-team-label-item:nth-child(5) {
    display: none;
  }

  .btn-search-player .match-team-text:nth-child(4),
  .btn-search-player .match-team-text:nth-child(5) {
    display: none;
  }

  .match-stats-section .match-stats-box:nth-child(1),
  .match-stats-section .match-stats-box:nth-child(3),
  .match-stats-section .match-stats-box:nth-child(4) {
    display: none;
  }
}

@media (min-width: 1025px) {
  .match-detail-section {
    flex-direction: row;
  }

  .match-team-section {
    flex: 1;
  }
}
