.card-component-wrapper {
  border-radius: .625rem;
  border: .125rem solid var(--lightgray-color);
  background-color: #222;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  font-size: var(--font-size-S);
  line-height: 1.5;
  max-width: 1440px;
  margin: 0 auto;
}

.card-component-wrapper .card-header-section {
  padding: .625rem;
  width: 100%;
  background-color: var(--deepgray-color);
}

.card-header-section .match-type-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  /* margin: 0; */
}

.card-header-section .match-type-list .match-type-item {
  list-style: none;
}

.card-header-section .match-type-list .match-type-item .btn-match-type {
  font-size: var(--font-size-XS);
  color: #666;
  transition: color .2s ease, font-weight .2s ease;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-header-section .match-type-list .match-type-item .active {
  color: #eaeaea;
  font-weight: 700;
}

.card-body-section {
  padding: .625rem;
  width: 100%;
}

.card-body-section .match-history-list {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  min-height: 25rem;
}

.card-body-section .match-history-list .match-history-item {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  list-style: none;
}

.card-body-section .match-history-list .match-history-item .match-preview-section {
  display: flex;
  border-radius: .625rem;
  height: 6.25rem;
  background-color: var(--deepgray-color);
  overflow: hidden;
}

.match-preview-section .match-result-box {
  width: 1.25rem;
}

.match-preview-section > .lose {
  background-color: #ff4d4f;
}

.match-preview-section > .win {
  background-color: #3a96ff;
}

.match-preview-section > .draw {
  background-color: #b03aff;
}

.match-preview-section .match-padding-section {
  display: flex;
  padding: .625rem 0;
  flex: 1;
}

.match-padding-section .match-type-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  padding: 0 .625rem;
  flex: .8;
  max-width: 8.75rem;

  .win {
    color: #3a96ff;
  }
  
  .lose {
    color: #ff4d4f;
  }
  
  .draw {
    color: #b03aff;
  }
}

.match-type-box .match-result-text {
  font-size: var(--font-size-XS);
}

.match-type-box .match-result-text .win {
  color: #3a96ff;
}

.match-type-box .match-result-text .lose {
  color: #ff4d4f;
}

.match-type-box .match-result-text .draw {
  color: #b03aff;
}

.match-type-box .match-type-text {
  font-size: var(--font-size-XS);
  color: #eaeaea;
}

.match-type-box .match-result-text {
  font-size: var(--font-size-XS);
  color: #eaeaea;
}

.match-preview-section .match-date-text {
  font-size: var(--font-size-XXS);
  color: #aaa;
}

.match-padding-section .match-map-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 .625rem;
  border-left: .0625rem solid #666;
  flex: .9;
  max-width: 12.5rem;
}

.match-map-box .match-map-text {
  font-size: var(--font-size-XS);
  color: #eaeaea;
}

.match-padding-section .match-stats-section {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  padding: 0 .625rem;
  border-left: .0625rem solid #666;
  flex: 1;
}

.match-stats-section .match-stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  padding: 0 .625rem;
  flex: 1;
  max-width: 7.5rem;
}

.match-stats-box .match-stats-label-text {
  display: flex;
  align-items: center;
  gap: .125rem;
  font-size: var(--font-size-XXS);
  color: #aaa;
}

.match-stats-label-text .icon-stat {
  width: 1rem;
  height: 1rem;
}

.match-stats-box .match-stats-text {
  display: flex;
  align-items: center;
  font-size: .9375rem;
  color: #eaeaea;
}

.match-stats-box .match-stats-text .rate-orange {
  color: #f15e36;
}

.match-padding-section .btn-match-detail {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: .0625rem solid #666;
  width: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #eaeaea;
}

.match-padding-section .btn-match-detail .active {
  transform: rotate(270deg)
}

.user-match-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 2.5rem;
}

.user-match-detail-wrapper .match-header-section {
  display: flex;
  align-items: flex-end;
  gap: .625rem;
}

.match-team-header-section{
  .win {
    color: #3a96ff;
  }
  
  .lose {
    color: #ff4d4f;
  }
  
  .draw {
    color: #b03aff;
  }
}

.match-team-header-section .match-header-text {
  font-size: var(--font-size-XXS);
  padding-left: .375rem ;
}
  
.match-header-section .match-type-text {
  font-size: .75rem;
  color: #eaeaea;
}

.match-header-section .match-date-text {
  margin-left: auto;
  font-size: .75rem;
  color: #aaa;
}

.btn-mode-change {
  padding: .25rem .625rem;
  border-radius: .25rem;
  font-size: var(--font-size-XXS);
  color: #eaeaea;
  background-color: #f15e36;
  transition: background-color .2s ease;
  border: none;
  cursor: pointer;
}

.match-detail-section {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  width: 100%;
  box-sizing: border-box;
}

.match-detail-section .win {
  border: .125rem solid #3a96ff;
}

.match-detail-section .lose {
  border: .125rem solid #ff4d4f;
}

.match-detail-section .draw {
  border: .125rem solid #b03aff;
}

.match-detail-section .match-team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: .625rem;
  flex: 1;
  overflow: hidden;
}

.match-team-section .match-team-header-section .win {
  background-color: #3a96ff33;
}

.match-team-section .match-team-header-section .lose {
  background-color: #ff4d4f33;
}

.match-team-section .match-team-header-section .draw {
  background-color: #b03aff33;
}

.match-team-section .match-team-body-section {
  display: flex;
  flex-direction: column;
}

.match-team-body-section .match-team-label-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-team-label-list .match-team-label-item {
  width: 100%;
  padding: .375rem .625rem;
}

.match-team-label-list .match-team-label-item p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  border-bottom: .0625rem solid #333;
}

.match-team-label-item .match-team-label-text {
  font-size: var(--font-size-XXS);
  color: #aaa;
  white-space: nowrap; 
  text-align: center;
  min-width: 5rem;
}

/* .match-team-label-item p span:first-child {
  white-space: nowrap;
} */

.match-team-label-item p span:nth-child(2) {
  margin-left: auto;
}

.match-team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-team-list .match-team-item {
  width: 100%;
  padding: .375rem .625rem;
}

.match-team-list .match-team-item p {
  border-bottom: .0625rem solid #333;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}

.match-team-list .search-player{
  display: flex;
  align-items: center; 
  flex-wrap: nowrap; 
  transition: background-color .2s ease;
  text-decoration: none;
  width: 100%;
}

.search-player .match-team-text {
  font-size: var(--font-size-S);
  color: #eaeaea;
  white-space: nowrap; 
  flex-grow: 0;   
  flex-shrink: 0;  
  flex-basis: auto; 
  text-align: center;
  width: 5rem;
}

.search-player .match-team-text:first-child {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 0;
  justify-content: flex-start;
}

.match-team-item .img-grade {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-right: .1875rem;
  vertical-align: middle;
}

.search-player .match-team-text:nth-child(2) {
  margin-left: auto;
}

@media (min-width: 1025px) {
  .match-detail-section {
    flex-direction: row;
  }

  .match-team-section {
    flex: 1; 
  }
}