<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="score-container container">
        <div id="searchbar-section" class="searchbar-margin"></div>
        <div id="content-section">
            <div id="search-guide" class="search-guide"></div>
            <div id="record-section" class="record-section" style="display: none;"></div>
        </div>
    </div>
</body>
</html> 