<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="score-container container">
        <div id="searchbar-section"></div>
        <div id="content-section">
            <div id="search-guide" class="search-guide">
                <div class="search-guide__content">
                    <h2>전적 검색</h2>
                    <p>검색창에 닉네임을 입력하여 전적을 확인하세요.</p>
                </div>
            </div>
            <div id="record-section" class="record-section" style="display: none;"></div>
        </div>
    </div>
</body>
</html> 