a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 상속 */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.main-button {
  display: inline-block;
  width: 27.5rem;
  height: 6.25rem;
  background-color: var(--main-color);
  border-radius: 500px;
  text-align: center;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 6.25rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}
