.main-button {
  display: inline-block;
  width: 25rem;
  height: 6.25rem;
  background-color: var(--main-color);
  border-radius: 500px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 6.25rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
