*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #d52c7d;
  --deepgray-color: #1c1c1c;
  --lightgray-color: #333333;
  --font-color: #ffffff;
  --line-color: rgba(255, 255, 255, 0.3);

  font-family: "Pretendard Variable";
  line-height: 1;
  font-weight: 400;

  color: rgba(255, 255, 255);
  background-color: #000000;

  /* Text-size styles */
  --font-size-XXS: 12px;
  --font-size-XS: 14px;
  --font-size-S: 16px;
  --font-size-M: 18px;
  --font-size-L: 24px;
  --font-size-XL: 28px;
  --font-size-XXL: 36px;
  --font-size-XXXL: 50px;
}

body {
  margin: 0;
  padding: 0;
}

/* 접근성 관련 CSS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border-width: 0;
  white-space: nowrap;
}

/* layout */
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-size: var(--font-size-XXS); /* 기본 크기 */
}

@media (min-width: 768px) {
  html {
    font-size: var(--font-size-XS);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-S);
  }
}

@media (min-width: 1280px) {
  html {
    font-size: var(--font-size-M);
  }
}
